@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,100;1,300&display=swap');

body {
    width: 1920;
    height: 937;
    background-image: url(Fundo.png);
    justify-content: center;
}

h1{
    font-family: Brush script MT, Brush Script Std, cursive;
    font-size: 50px;
    text-align: center;
}

h3{
    font-family: Ysabeau;
    font-weight: bold;
    text-align: center;
}

label{
    font-family: Ysabeau;
    font-weight: bold;
}

input{
    font-family: Ysabeau;
    height: 35px;
    width: 200px;
    border: none;
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px -3px rgb(0, 132, 240);
}

form{
    text-align: center;
}

#resultado{
    text-align: center;
    font-family: Ysabeau;
    font-weight: bold;
}

.orientações{
    font-family: Ysabeau;
    font-size: 15px;
}